body {
    background-image: url("../img/backgroundG.png");
    background-color: rgba(8, 15, 15, 1);
    background-position: center;
    background-repeat: no-repeat;
    overflow-scrolling: auto;
    padding: 20px 10px;
}

header {
    text-align: center;
}

a:active {
    background-color: rgba(102, 22, 21, .5);
}

a:hover{

}

.menu-header {
    text-align: center;
    overflow: hidden;
    background-color: rgba(165, 36, 34, .8);
    width: 50%;
    padding-top: 15px;
    margin: auto;
    border-radius: 25px;
}

#header-image {
    max-width: 50%;
    max-height: 50%;
}

.nav-bar {
    border-radius: 25px;
    list-style: none;
    margin: auto;
    width: 30%;
    overflow: hidden;
    background-color: rgba(102, 22, 21, .9);
}

.nav-bar a {
    display:inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.nav-bar li {
    display: inline;
}

h1 {
    color: White;
}

section {
    background-color: rgba(164, 186, 183, .7);
}

.body {
    max-width: 80%;

}

nav {
    padding: 20px 10px;
}

