body {
    background-image: url("../img/backgroundG.png");
    background-color: rgba(8, 15, 15, 1);
    background-position: center;
    background-repeat: repeat;
    overflow-scrolling: inherit;
    background-attachment: inherit;
    padding: 20px 10px;
}

header {
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.div-menu {
    text-align: center;
    overflow: hidden;
    background-color: rgba(165, 36, 34, .8);
    width: 50%;
    padding-top: 15px;
    margin: auto;
    border-radius: 25px;
}

#header-image {
    max-width: 50%;
    max-height: 50%;
}

ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: rgba(102, 22, 21, .8);
    border-radius: 25px;
    text-align: center;
    width: 70%;
}

li {
    display:inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px 15px 10px;
}

li a:hover {
    background-color: rgba(102, 22, 21, .9);
}

#nav-bar {
    border-radius: 25px;
    width: 30%;
    overflow: hidden;
    margin: auto;
    padding: 20px 10px 20px 10px;
}

.current-page {
    transform: scale(1);
    color: grey;
}

h1 {
    color: White;
}

section {
}

.body {
    max-width: 80%;

}

nav {
    padding: 20px 10px;
}


.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
    background-color: rgba(164, 186, 183, .7);
    border: 2px rgba(8, 15, 15, 1);
    gap: 20px;
    width: 80%;
    height: 1000px;
    margin: auto;
    text-align: center;
    line-height: 100px;
}