body {
    background-image: url("../img/backgroundG.png");
    background-color: rgba(8, 15, 15, 1);
    background-position: center;
    background-repeat: repeat;
    overflow-scrolling: inherit;
    background-attachment: inherit;
    margin-left: 0;
    margin-right: 0;
}

header {
    text-align: center;
    padding-top: 2%;
}

.header-outline {
    text-align: center;
    overflow: hidden;
    background-color: rgba(165, 36, 34, .8);
    width: 50%;
    padding-top: 15px;
    margin: auto;
    border-radius: 25px;
}

#header-image {
    max-width: 50%;
    max-height: 50%;
}

li a:hover {
    background-color: rgba(102, 22, 21, .9);
}

#nav-bar {
    padding: .8%;
    text-align: center;
}

#nav-bar ul{
    background-color: rgba(102, 22, 21, .8);
    border-radius: 25px;
    width: 70%;
    margin: auto;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}

#nav-bar li a.current-page {
    transform: scale(1);
    color: grey;
}

#nav-bar li.contact-button {
    float: right;
}

#top-bar {

}

#top-bar button {
    background-color: rgba(102, 22, 21, 1);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 10px;
}

#top-bar ul {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(8, 15, 15, 1);
    padding-inline-start: 0;
}

#top-bar li {
    float: left;
}

#top-bar li.login {
    float: right;
    display: block;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

#top-bar p {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
    background-color: rgba(164, 186, 183, .7);
    border: 2px rgba(8, 15, 15, 1);
    gap: 20px;
    width: 80%;
    height: 1000px;
    margin: auto;
    text-align: center;
    line-height: 100px;
}
